﻿@model FilesViewModel
@{
    ViewData["Title"] = "Files";
}
@if (!string.IsNullOrEmpty(Model.Mensage))
{
    <script>
        bootbox.alert({ title: "@Model.Title", message: "@Model.Mensage" });
    </script>
}
<h1>Files</h1>
<h4>Informações dos arquivos e dos SetBox</h4>

<form asp-controller="Files" asp-action="EditOrNew" method="post" id="FormEdit">
    <input type="hidden" name="id" value="" id="id" />
    <input type="hidden" name="command" value="" id="command" />
    <div class="row">
        <div class="col-12" style="text-align:right;">
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-success btn-sm" asp-action="UpdateFilesFolder" asp-controller="Files">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Update
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="NewFile()">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>Add File
                </button>
            </div>
        </div>
    </div>
    <table id="grid-data-device-files" class="table table-condensed table-hover table-striped" style="font-size:8pt;">
        <thead>
            <tr>
                <th data-column-id="fileId">Id</th>
                <th data-column-id="name" data-order="asc">Name</th>
                <th data-column-id="description">Description</th>
                <th data-column-id="extension">Extension</th>
                <th data-column-id="size" data-converter="size">Size</th>
                <th data-column-id="totalDevice">Devices</th>
                <th data-column-id="creationDateTime" data-converter="datetime">CreationDateTime</th>
                <th data-formatter="actions" data-sortable="false">Commands</th>
            </tr>
        </thead>
    </table>
</form>


<br />

<form id="formUpload" name="formUpload" asp-controller="Files" asp-action="Save" enctype="multipart/form-data" method="post">
    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="DeviceIds" id="DeviceIds">
                    <input type="hidden" asp-for="AllDeviceIds" id="AllDeviceIds" />
                    <input type="hidden" asp-for="File.FileId" />
                    <input type="hidden" asp-for="IsEdited" />
                    <input type="hidden" asp-for="IsNew" />
                    <input type="hidden" asp-for="File.CheckSum" />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 ml-auto" style="font-size:8pt;">
                                <div id="panelUpload" style="padding-bottom:5px;">
                                    <div class="custom-file">
                                        <input type="file" asp-for="fileToUpload" class="custom-file-input" id="fileToUpload" onchange="ShowName()">
                                        <label class="custom-file-label" for="customFile" id="FileSelected">Choose file</label>
                                    </div>

                                </div>
                                    <div class="col">
                                        <label asp-for="File.Name" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="File.Name" id="File_Name" class="form-control form-control-sm" readonly />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label asp-for="File.Description" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="File.Description" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-6 ml-auto" style="font-size:8pt;">
                                <h6>All available devices</h6>
                                <div class="list-group" id="source">
                                    @foreach (var item in Model.AllDevices)
                                    {
                                        <a href="#" id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">@item.CompanyName @item.DeviceName</h5>
                                            </div>
                                            <p class="mb-1">
                                                DeviceIdentifier: @item.DeviceIdentifier<br />
                                                DeviceName: @item.DeviceName<br />
                                                CompanyName: @item.CompanyName
                                            </p>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6 ml-auto" style="font-size:8pt;">
                                <h6>All Selected Devices</h6>
                                <div class="list-group" id="destination">
                                    @foreach (var item in Model.Devices)
                                    {
                                        <a href="#" id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">@item.CompanyName @item.DeviceName</h5>
                                            </div>
                                            <p class="mb-1">
                                                DeviceIdentifier: @item.DeviceIdentifier<br />
                                                DeviceName: @item.DeviceName<br />
                                                CompanyName: @item.CompanyName
                                            </p>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
                    <button type="submit" id="buttonSave" class="btn btn-primary"><i class="fa fa-check"></i>Salvar Mudanças</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br />


@section scripts {

    <script type="text/javascript">

        var arraySource = [];
        var arraydestination = [];

        function openModal(action, id) {

            if (action == 'Edit') {
                $("#panelUpload").hide();
                $("#ModalTitle").val("Edit File: " + id);
                $('#ModalEdit').modal('show');
            }

            if (action == 'New') {
                $("#panelUpload").show();
                $("#ModalTitle").val("New File");
                $('#ModalEdit').modal('show');
            }
        }

        function NewFile() {
            $("#id").val("");
            $("#command").val("New");
            $("#FormEdit").submit();
        }

        function ShowName() {
            $("#File_Name").val($("#fileToUpload").val());
            $("#FileSelected").val($("#fileToUpload").val());
        }

        $(document).ready(function () {
            grid = $("#grid-data-device-files").bootgrid(
                {
                    ajax: true,
                    url: '/Files/List',
                    labels: translate,
                    searchSettings: {
                        delay: 100,
                        characters: 3
                    },
                    formatters: {
                        "actions": function (column, row) {
                            return "<div class='btn-group btn-group-sm' role='group'>" +
                                "<a href='#' alt='Details' class='btn btn-info btn-sm' data-command='Edit' data-row-id = '" + row.fileId + "'>" +
                                "<span class='glyphicon glyphicon-list'></span>" + "</a>" +
                                "<a href='#' alt='Delete' class='btn btn-danger btn-sm' data-command='Delete' data-row-id = '" + row.fileId + "'>" +
                                "<span class='glyphicon glyphicon-trash'></span>" + "</a></div>";
                        }
                    },
                    converters: {
                        size: {
                            from: function (value) { return value; },
                            to: function (value) { return FormatsonSize(value); }
                        },
                        datetime: {
                            from: function (value) { return moment(value); },
                            to: function (value) { return moment(FormatJsonDateToJavaScriptDate(value)).format("DD/MM/YYYY"); }
                        }
                    }
                });

            grid.on("loaded.rs.jquery.bootgrid", function () {
                grid.find("a.btn").each(function (index, element) {
                    var buttonAction = $(element);
                    var command = buttonAction.data("command");
                    var id = buttonAction.data("row-id");
                    buttonAction.on("click", function () {
                        if (command == 'Delete') {
                            bootbox.confirm({
                                title: "Excluir",
                                message: "Deseja excluir esse Arquivo<br>Ao excluir será removido de todos os Devices?",
                                buttons: {
                                    cancel: {
                                        label: '<i class="fa fa-times"></i> Cancelar'
                                    },
                                    confirm: {
                                        label: '<i class="fa fa-check"></i> Excluir'
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        $.ajax({
                                            url: '/Files/Delete?id=' + id,
                                            cache: false
                                        }).done(function (result) {
                                            PleaseWaitHide();
                                            grid.reload();
                                            bootbox.alert({ title: "Info", message: result });
                                        }).fail(function (result) {
                                            PleaseWaitHide();
                                            grid.reload();
                                            bootbox.alert({ title: "Error", message: result });
                                        });
                                    }
                                }
                            });
                        } else {
                            $("#id").val(id);
                            $("#command").val(command);
                            $("#FormEdit").submit();
                        }
                    });
                });
            });

            //List
            $("#source").on("click", "a", function (e) {
                arraySource = $("#AllDeviceIds").val().split(',');
                arraydestination = $("#DeviceIds").val().split(',');
                var listItem = $(this);
                var id = listItem.attr("id");
                var cloneItem = listItem.clone();
                cloneItem.appendTo("#destination");
                arraydestination.push(id);
                arraySource = jQuery.grep(arraySource, function (value) { return value != id && value != ""; });
                listItem.remove();
                SaveArrayInHidden(arraySource, arraydestination);
            });

            $("#destination").on("click", "a", function (e) {
                arraySource = $("#AllDeviceIds").val().split(',');
                arraydestination = $("#DeviceIds").val().split(',');
                var listItem = $(this);
                var id = listItem.attr("id");
                var cloneItem = listItem.clone();
                cloneItem.appendTo("#source");
                arraySource.push(id);
                arraydestination = jQuery.grep(arraydestination, function (value) { return value != id && value != ""; });
                listItem.remove()
                SaveArrayInHidden(arraySource, arraydestination);
            });

        });

        function SaveArrayInHidden(arrSource, arrDestination) {
            $("#AllDeviceIds").val(arrSource);
            $("#DeviceIds").val(arrDestination);
        }

    </script>
}


@if (Convert.ToBoolean(ViewData["Edit"]) == true && Model != null)
{
    <script>
         openModal('@ViewData["Command"]', '@Model.File.FileId');
    </script>
}

@if (Convert.ToBoolean(ViewData["New"]) == true && Model != null)
{
    <script>
         openModal('@ViewData["Command"]', '');
    </script>
}