﻿@model DeviceViewModel
@{
    ViewData["Title"] = "Device";
}

<h1>Devices</h1>
<br />

@if (!string.IsNullOrEmpty(Model.Mensage))
{
    <script>
        bootbox.alert({ title: "@Model.Title", message: "@Model.Mensage" });
    </script>
}

<form asp-controller="Devices" asp-action="Edit" method="post" id="FormEdit">
    <input type="hidden" name="id" value="" id="id" />
    <input type="hidden" name="command" value="" id="command" />
    <table id="grid-data-device" class="table table-condensed table-hover table-striped" style="font-size:8pt;">
        <thead>
            <tr>
                <th data-column-id="deviceId" data-identifier="true" data-visible="false">ID</th>
                <th data-column-id="deviceIdentifier" data-order="asc">Identifier</th>
                <th data-column-id="name">Name</th>
                <th data-column-id="deviceName">Device</th>
                <th data-column-id="manufacturer">Manufacturer</th>
                <th data-column-id="model">Model</th>
                <th data-column-id="platform" data-visible="false">Platform</th>
                <th data-column-id="version" data-width="8%">Version</th>
                <th data-column-id="apkVersion" data-width="8%">Apk</th>
                <th data-column-id="totalFiles" data-width="8%">Files</th>
                <th data-column-id="creationDateTime" data-converter="datetime" data-width="10%">CreationDate</th>
                <th data-formatter="actions" data-sortable="false">Commands</th>
            </tr>
        </thead>
    </table>
</form>
<form asp-controller="Devices" asp-action="Save" method="post" id="FormSave">
    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5 ml-auto" style="font-size:7.5pt;">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Device</h5>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <label asp-for="DeviceId" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="DeviceId" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="DeviceIdentifier" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="DeviceIdentifier" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="DeviceName" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="DeviceName" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="Manufacturer" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Manufacturer" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="Model" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Model" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="Platform" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Platform" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="Version" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Version" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="ApkVersion" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="ApkVersion" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="License" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="License" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Name" class="form-control form-control-sm" />
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label class="col-sm-3 col-form-label">CreationDate</label>
                                    <div class="col-sm-9">
                                        <input asp-for="CreationDateTime" class="form-control form-control-sm" readonly />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-7 ml-auto" style="font-size:7.5pt;">
                                <div id="DivPainelConfig">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Configurations</h5>
                                            <input type="hidden" asp-for="ConfigId" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="custom-control custom-switch">
                                                <input id="IdEnablePhoto" asp-for="EnablePhoto" type="checkbox" class="custom-control-input" />&nbsp;
                                                <label class="custom-control-label">Active Photo Show</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="custom-control custom-switch">
                                                <input id="IdEnableVideo" asp-for="EnableVideo" type="checkbox" class="custom-control-input" />&nbsp;
                                                <label class="custom-control-label">Active Video Show</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="custom-control custom-switch">
                                                <input id="IdEnableWebImage" asp-for="EnableWebImage" type="checkbox" class="custom-control-input" />&nbsp;
                                                <label class="custom-control-label">Active Web Photo Show</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="custom-control custom-switch">
                                                <input id="IdEnableWebVideo" asp-for="EnableWebVideo" type="checkbox" class="custom-control-input" />&nbsp;
                                                <label class="custom-control-label">Active Web Video Show</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="custom-control custom-switch">
                                                <input id="IdEnableTransaction" asp-for="EnableTransaction" type="checkbox" class="custom-control-input" />&nbsp;
                                                <label class="custom-control-label">Enable Transaction Between Show</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-9">
                                            <input asp-for="TransactionTime" id="SliderTransactionTime" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="@Model.TransactionTime" />
                                        </div>
                                        <div class="col-sm-3">
                                            <span id="TransactionTimeVal">@Model.TransactionTime</span>&nbsp;<span>Segunds</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="DivPainelLog">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="true">Files</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Logs</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="files" role="tabpanel" aria-labelledby="files-tab">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table id="grid-data-device-files" class="table table-condensed table-hover table-striped" style="font-size:8pt;" data-navigation="2">
                                                        <thead>
                                                            <tr>
                                                                <th data-column-id="name" data-order="asc">Name</th>
                                                                <th data-column-id="extension" data-width="15%">Extension</th>
                                                                <th data-column-id="size" data-converter="size" data-width="15%">Size</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table id="grid-data-device-log" class="table table-condensed table-hover table-striped" style="font-size:8pt;" data-navigation="2">
                                                        <thead>
                                                            <tr>
                                                                <th data-column-id="creationDateTime" data-order="asc" data-converter="datetime" data-width="18%">Creation Date</th>
                                                                <th data-column-id="ipAcessed" data-width="15%">IP</th>
                                                                <th data-column-id="message">Message</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
                    <button type="submit" id="buttonSave" class="btn btn-primary"><i class="fa fa-check"></i>Salvar mudanças</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">

        function openModal(action, id) {

            $("#ModalTitle").val(action + " - DeviceId: " + id);
            //pegar as informações do Device

            if (action == "Details") {
                //Desabilitar para ediçao os campos e ocultar o botão salvar
                $("#buttonSave").hide();
                $("#DivPainelConfig").hide();
                $("#DivPainelLog").show();

                $("#grid-data-device-log").bootgrid(
                    {
                        ajax: true,
                        post: function () {
                            return {
                                id: id
                            };
                        },
                        url: '/Devices/ListLog',
                        labels: translate,
                        searchSettings: {
                            delay: 100,
                            characters: 3
                        },

                        converters: {
                            datetime: {  // Tratar os campos data que vem no formato incorreto
                                from: function (value) { return moment(value); },
                                to: function (value) { return moment(FormatJsonDateToJavaScriptDate(value)).format("DD/MM/YYYY"); }
                            }
                        }
                    });

                 $("#grid-data-device-files").bootgrid(
                    {
                        ajax: true,
                        post: function () {
                            return {
                                id: id
                            };
                        },
                        url: '/Devices/ListFiles',
                        labels: translate,
                        searchSettings: {
                            delay: 100,
                            characters: 3
                        },

                        converters: {
                            size: {  // Tratar os campos data que vem no formato incorreto
                                from: function (value) { return value; },
                                to: function (value) { return FormatsonSize(value); }
                            }
                        }
                    });

            } else {
                $("#DivPainelConfig").show();
                $("#buttonSave").show();
                $("#DivPainelLog").hide();
            }
            $('#ModalEdit').modal('show');
        }

        $(document).ready(function () {

            $('#SliderTransactionTime').slider({
                formatter: function (value) {
                    return 'Time: ' + value + ' Segunds';
                }
            });

            $("#SliderTransactionTime").on("slide", function (slideEvt) {
                $("#TransactionTimeVal").text(slideEvt.value);
            });

            var grid = $("#grid-data-device").bootgrid(
                {
                    ajax: true,
                    url: '/Devices/List',
                    labels: translate,
                    searchSettings: {
                        delay: 100,
                        characters: 3
                    },

                    formatters: {
                        "actions": function (column, row) {
                            return "<div class='btn-group btn-group-sm' role='group'>" +
                                "<a href='#' alt='Details' class='btn btn-info btn-sm' data-command='Details' data-row-id = '" + row.deviceId + "'>" +
                                "<span class='glyphicon glyphicon-list'></span>" + "</a>" +
                                "<a href='#' alt='Edit' class='btn btn-warning btn-sm' data-command='Edit' data-row-id = '" + row.deviceId + "'>" +
                                "<span class='glyphicon glyphicon-edit'></span>" + "</a>" +
                                "<a href='#' alt='Delete' class='btn btn-danger btn-sm' data-command='Delete' data-row-id = '" + row.deviceId + "'>" +
                                "<span class='glyphicon glyphicon-trash'></span>" + "</a></div>";
                        }
                    },
                    converters: {
                        datetime: {  // Tratar os campos data que vem no formato incorreto
                            from: function (value) { return moment(value); },
                            to: function (value) { return moment(FormatJsonDateToJavaScriptDate(value)).format("DD/MM/YYYY"); }
                        }
                    }
                });

            grid.on("loaded.rs.jquery.bootgrid", function () {
                grid.find("a.btn").each(function (index, element) {
                    var buttonAction = $(element);
                    var command = buttonAction.data("command");
                    var id = buttonAction.data("row-id");
                    buttonAction.on("click", function () {
                        if (command == 'Delete') {
                            bootbox.confirm({
                                title: "Excluir",
                                message: "Deseja excluir esse device?",
                                buttons: {
                                    cancel: {
                                        label: '<i class="fa fa-times"></i> Cancelar'
                                    },
                                    confirm: {
                                        label: '<i class="fa fa-check"></i> Confirmar'
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        $.ajax({
                                            url: '/Devices/Delete?id=' + id,
                                            cache: false
                                        }).done(function (result) {
                                            PleaseWaitHide();
                                            grid.reload();
                                            bootbox.alert({ title: "Info", message: result });
                                        }).fail(function (result) {
                                            PleaseWaitHide();
                                            grid.reload();
                                            bootbox.alert({ title: "Error", message: result });
                                        });
                                    }
                                }
                            });
                        } else {
                            $("#id").val(id);
                            $("#command").val(command);
                            $("#FormEdit").submit();
                        }
                    });
                });
            });
        });

    </script>
}


@if (Convert.ToBoolean(ViewData["Edit"]) == true && Model != null)
{
    <script>
         openModal('@ViewData["Command"]', '@Model.DeviceId');
    </script>
}